* {
    -fx-font-family: "Outfit Medium";
    -fx-font-size: 14px;
}

#searchField {
    -fx-background-color: #262A35;
    -fx-font-family: "Outfit Medium";
    -fx-font-size: 14px;
}

.combo-box {
    -fx-background-color: #262A35;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

.text {
    -fx-font-family: "Outfit Medium";
    -fx-font-size: 14px;
}
.label {
    -fx-font-family: "Outfit Regular";
    -fx-font-size: 14px;
}


.custom-combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 3 0 3 5;
}

.custom-combo-box .arrow-button {
    -fx-background-color: transparent;
}

.custom-combo-box .arrow {
    -fx-background-color: white;
}

.custom-combo-box .list-view {
    -fx-background-color: #262A35;
    -fx-background-radius: 0;
}

.custom-combo-box .list-view .list-cell {
    -fx-background-color: #262A35;
}

.custom-combo-box .list-view .list-cell:hover {
    -fx-background-color: #3E4454;
}

.custom-combo-box .list-view .list-cell:selected {
    -fx-background-color: #3E4454;
}

.combo-box .prompt-text {
    -fx-fill: white;
}

.searchField {
    -fx-background-color: #262A35;
    -fx-font-family: "Outfit Medium";
    -fx-font-size: 14px;
}